dt {
    font-size: 1.1em;
    font-weight: bold;
}
dd + dt {
    margin-top:1em;
}
dd[data-label="type"],
dd[data-label="tags"] {
    font-size: 0.9em;
    display:inline-block;
    background: oklch(from currentColor 90% c h / 0.9);
    border-radius:0.15em;
    color: oklch(from currentColor 40% c h / 0.8);
    margin: 0.5em 0.1em;
    padding: 0.1em 0.3em;
}
dd {
    margin: 0 0.25em 1em;
}