<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="stylesheet" href="/css/shared.css">
		<link rel="stylesheet" href="/css/site.css">
		<style>{% getBundle "css" %}</style>

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<div class="container">
			<div class="blob-01"></div>
			<div class="blob-02"></div>
			<div class="blob-03"></div>
			<div class="blob-04"></div>
			<div class="blob-05"></div>
			<div class="blob-06"></div>

			<header>
				<p class="site-title"><a href="/" class="home-link">{{ metadata.title }}</a></p>

				{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
				<nav id="mainNav">
					<h2 class="visually-hidden">Top level navigation menu</h2>
					<ul class="nav">
						<li class="nav-item"><a href="https://madeleine.dev">About</a></li>
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
					{%- endfor %}
					</ul>
				</nav>
			</header>

			<main id="main">
				<heading-anchors>
					{{ content | safe }}
				</heading-anchors>
			</main>

			<footer>
				<p>
					<em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
				</p>
			</footer>
		</div>
		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
